<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FormatSection" type="IMQ1.BCL._2017.RegularExpression.Library.AppConfig.FormatSection, IMQ1.BCL.2017.RegularExpression.Library" requirePermission="true" restartOnExternalChanges="true" allowLocation="true"/>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <FormatSection>
    <result format="{0} was fonded. All will be replaced." />
    <file format="{0} | {1} | {2}" />
    <substring format="Line: {0} Col: {1} Text: {2}" />
  </FormatSection>
</configuration>